.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  float: center;
  padding: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 1.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}
h1{
  line-height: 1000px; 
  font-size: 50px;
  
}
.social-container {
  background: rgb(255, 255, 255);
  padding: 25px 50px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.linkedin {
  color: #0e76a8 ; 
}

a.github {
  color: black;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}
#Home {
  background-image: url('257697.jpeg');
  filter: blur(8px);
  -webkit-filter: blur(8px);
}



ul.horizontal-list li {
  display: inline-block;
  padding:10px; 
}